.bg-flag {
  background-image: url('../assets/Main.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 24px;
  height: 18px;
}

.bg-ind {
  background-image: url('../assets/Main.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 24px;
  height: 24px;
}

.icon-wrapper {
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.sprite {
  background-image: url('../assets/Main.png');
  background-repeat: no-repeat;
  display: inline-block;
  background-size: 635px 325px; /* Задать полный размер всего спрайта */

  width: 44px;
  height: 27px;

  transform: scale(var(--sprite-scale));
  transform-origin: center center;
}

/* Установим нужный масштаб через переменную */
:root {
  --sprite-scale: 1.6; /* Пример: увеличим чтобы заняло ~80% контейнера */
}

.sprite-3chance { background-position: -5px -41px; }
.sprite-chance { background-position: -5px -77px; }
.sprite-pip { background-position: -5px -113px; }
.sprite-start { background-position: -5px -149px; }
.sprite-taxi { background-position: -5px -185px; }
.sprite-jail { background-position: -5px -221px; }
.sprite-stock-exchange { background-position: -5px -257px; }

